{% extends 'base.html' %}

{% block content %}
  <h1>42 Coffee Cups Test Assignment</h1>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <ul class="list">
      <li><span class="column">Name:</span> {{ form.first_name }}</li>
      <li><span class="column">Last name:</span> {{ form.last_name }}</li>
      <li><span class="column">Date of birth:</span> {{ form.date_of_birth }}</li>
      <li>Photo: {{ form.photo }}</li>
    </ul>
    <ul class="list">
      <li>Contacts</li>
      <li><span class="column">Email:</span> {{ form.email }}</li>
      <li><span class="column">Jabber:</span> {{ form.jabber }}</li>
      <li><span class="column">Skype:</span> {{ form.skype }}</li>
      <li>Other contacts:<br>{{ form.other_contacts }}</li>
      <li>Bio:<br>{{ form.bio }}</li>
    </ul>
    <input type="submit" value="Save">
  </form>
  <hr style="clear: both;">
  <a href="{% url 'requests' %}">requests</a>
{% endblock %}