{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <h1>42 Coffee Cups Test Assignment</h1>
  <form id="contacts-edit-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <ul class="list">
      <li><span class="column">Name:</span> {{ form.first_name }}</li>
      <li><span class="column">Last name:</span> {{ form.last_name }}</li>
      <li><span class="column">Date of birth:</span> {{ form.date_of_birth }}
      </li>
      <li>Photo: {{ form.photo }}</li>
    </ul>
    <ul class="list">
      <li>Contacts</li>
      <li><span class="column">Email:</span> {{ form.email }}</li>
      <li><span class="column">Jabber:</span> {{ form.jabber }}</li>
      <li><span class="column">Skype:</span> {{ form.skype }}</li>
      <li>Other contacts:<br>{{ form.other_contacts }}</li>
      <li>Bio:<br>{{ form.bio }}</li>
    </ul>
    <br class="clean">

    <input type="submit" value="Save">
    <a href="">Cancel</a>
    <span id="loading" style="display: none;">Loading...</span>
    <span id="success" style="display: none;">Changes have been saved</span>
  </form>
  <hr class="clean">
  <a href="{% url 'requests' %}">requests</a>
{% endblock %}

{% block extra_head %}
  <link href="{% static 'admin/css/forms.css' %}" type="text/css" media="all"
        rel="stylesheet"/>
  <link href="{% static 'admin/css/widgets.css' %}" type="text/css" media="all"
        rel="stylesheet"/>
{% endblock extra_head %}

{% block extra_js %}
  <script src="{% static 'js/jquery.form.min.js' %}"></script>
  <script src="{% static 'hello/js/contacts_edit.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'admin/js/jquery.min.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript"
          src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
  <script type="text/javascript"
          src="{% static 'admin/js/calendar.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}